body {
    font-family: Arial;
    margin: 0;
    background-color: aliceblue;
  }

  /* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background:teal;
    color: white;
    font-size: 30px;
  }

  /* Page Content */
.content {
  padding:20px;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button{
  border-radius: 8px;
}